# Import Necessary Library

In [1]:
import pandas as pd

In [2]:
combine = pd.read_csv("data_gcs_combine.csv", index_col=0)

# Fill Null for New Region from Old Region

In [3]:
def region_update(df, old, new):
    df = df.copy()
    df_new = df[df['region'] == new]
    df_old = df[df['region'] == old]
    df_new_reset_index = df_new.reset_index()
    df_old_reset_index = df_old.reset_index()
    update = df_new_reset_index.combine_first(df_old_reset_index).set_index('index')
    df_new_index = df_new.index.tolist()
    df_old_index = df_old.index.tolist()
    list_drop = df_new_index + df_old_index
    df_drop = df.drop(list_drop)
    df_combine = pd.concat([df_drop, update])
    df_sort = df_combine.sort_values(['date','region']).reset_index(drop=True)
    return df_sort

In [4]:
region_old = "Tai Po(Conservation Studies Centre)"
region_new = "Tai Po(Yuen Chau Tsai Park)"

In [5]:
combine_update = region_update(combine, region_old, region_new)

In [6]:
combine_update

,date,region,Mean HKHI,Max HKHI,Mean Amount of Cloud (%),Mean Pressure (hPa),Total Rainfall (mm),Mean Relative Humidity (%),Maximum Temperature (°C),Minimum Temperature (°C),Mean Temperature (°C),Global Solar Radiation (MJ/m&sup2;),Max UV Indices(15-minute average),Mean UV Indices(7 a.m. to 6 p.m.),Total Bright Sunshine (hours),Prevailing Wind Direction (°),Mean Wind Speed (km/h),latitude,longitude
0,2014-01-01,Bluff Head,NaN,NaN,NaN,NaN,NaN,NaN,20.8,13.7,16.3,NaN,NaN,NaN,NaN,80.0,9.7,22.197500,114.211944
1,2014-01-01,Central Pier,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.0,7.0,22.288889,114.155833
2,2014-01-01,Cheung Chau,NaN,NaN,NaN,1019.0,0.0,50.0,20.6,12.3,15.7,NaN,NaN,NaN,NaN,10.0,13.7,22.201111,114.026667
3,2014-01-01,Cheung Chau Beach,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,350.0,9.0,22.210833,114.029167
4,2014-01-01,Ching Pak House(Tsing Yi),NaN,NaN,NaN,NaN,0.0,41.0,21.1,12.8,16.4,NaN,NaN,NaN,NaN,NaN,NaN,22.348056,114.109167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203332,2024-11-30,Tuen Mun Government Offices,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,340.0,4.7,22.390556,113.976667
203333,2024-11-30,Waglan Island,NaN,NaN,NaN,1017.7,0.0,57.0,23.4,16.9,19.3,NaN,NaN,NaN,NaN,80.0,14.2,22.182222,114.303333
203334,2024-11-30,Wetland Park,NaN,NaN,NaN,1017.6,0.0,65.0,24.2,11.6,16.9,NaN,NaN,NaN,NaN,170.0,1.8,22.466667,114.008889
203335,2024-11-30,Wong Chuk Hang,NaN,NaN,NaN,NaN,NaN,62.0,23.2,13.1,17.2,NaN,NaN,NaN,NaN,220.0,2.7,22.247778,114.173611
203336,2024-11-30,Wong Tai Sin,NaN,NaN,NaN,NaN,NaN,NaN,23.8,13.9,18.5,NaN,NaN,NaN,NaN,NaN,NaN,22.339444,114.205278

# Save as csv

In [7]:
combine_update.to_csv("data_gcs_combine_update.csv")